@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: rgb(206, 206, 110);
    --black: black;
    --bg: black;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem  7%;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
  
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: white;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: white;
    padding: 0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; 
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 2rem;
    color: var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size:cover ;
    background-position: center;
    background:url(https://wallpapercave.com/wp/wp1874165.jpg) no-repeat ;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 5.5rem;
    text-transform: uppercase;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #f6f6f6;
    font-weight:400;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .video {
    flex: 1 1 45rem;
}

.about .row .video video {
    height: 29rem;
    width: 90%;
    border-radius: 10%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.controls .btn {
    background: #ff5722;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .btn:hover {
    background: #e64a19;
}

.controls .btn i {
    pointer-events: none;
}


.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2.5rem;
    
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img{
    height: 15rem;
    border-radius: 30%;
    
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}
.menu .box-container .box span{
    text-decoration: line-through;
    font-size: 1.5rem;
    
}
.menu .box-container .box:hover{
    background-color: rgb(116, 110, 110);
}
.menu .box-container .box:hover{
    color: var(--black);
}

.service .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.service .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.service .box-container .box .icon a{
    height: 5erm;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 3rem;

}
.service .box-container .box .icon a:hover{
    background: var(--main-color);
}

.service .box-container .box .image{
    padding: 2.5rem;

}
.service .box-container .box .image img{
    height: 15rem;

}

.service .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}
.service .box-container .box .content .stars{
    padding: 1.5rem;
}
.service .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.service .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}

.service .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container{ 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box .p1{
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #f6f4f4;
    padding: 2rem 0;
}
.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.5rem;
    color: #ccc;
    padding: 2rem 0;
}
.review .box-container .box .quote{
    height: 17rem;
    width: 17rem;
    border-radius: 10%;
    object-fit: cover;
}
.review .box-container .box .user{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}

.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    border: var(--border);

}
.blogs .box-container .box .image{
    height:25rem ;
    overflow: hidden;
    width: 100%;
}
.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}
.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}
.footer{
    background: rgb(49, 48, 48);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
    background: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    padding: 1.5rem;
    font-weight: lighter;
}

.footer .credit span{
    color: var(--main-color);
}
.menus {
    /* display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid #fefbfb; 
    padding: 10px;
    margin-top: 10px; */
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    justify-content: center;
     /* Add padding for better appearance */
}

.menus a {
    
    text-decoration: none; /* Remove underline from the link */
    color: #fffafa;
    font-size: medium; /* Link color */
}

 .menus a:hover {
    color: #fff; 
    background-color: #000;
    border: 1px solid white; 
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 3px; 
}
.login-button {
    /* Add your button styles here */
    padding: 10px 20px;
    background-color: #0f0f0f; /* Example background color */
    color: rgb(224, 217, 217);
    border: none;
    font-size: 2rem;
    border-style: solid;
    border-color: #f6f4f4;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%; /* Smooth transition for hover effect */
}

.login-button:hover {
    background-color: #80d57a;
    transform: rotate3d(1, 0, 0, 45deg);
     /* Change background color on hover */
}



/* Media query */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem ;
    }
}

@media (max-width: 761px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: white;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        transition: right 0.3s ease-in-out;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: 1.5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 100%;
        right: 1rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    
}